.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
   padding-right: 15px; 

}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,2fr))
}

.note.new{
  background-color: rgb(193, 239, 239);
}

textarea{
  border: none;
  resize:none;
  background-color: rgb(228, 239, 235);
}

textarea:focus{
  outline: none;
}

.save{
  background-color: rgb(208, 215, 227);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  align-self: flex-end;
}

.save:hover{
  background-color:aliceblue;
  cursor:pointer;
  
}
.note{
  background-color:blanchedalmond;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search{
  display: flex;
  align-items: center;
  background-color: aliceblue;
  border-radius: 9px;
  padding: 5px;
  margin-bottom: 1.7em;
}

.search input{
  border: none;
  background-color: aliceblue;
}
.search input:focus{
  outline: none;
}

.header{
  display: flex;
  align-items: center;
  justify-content:space-between ;
  padding: 8px;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}